* {
    margin: 0;
    padding: 0
}

.row { margin-right: 0; margin-left: 0 }

.about { margin: 30px 0; text-align: center }
.about p { max-width: 80%; margin: 0 auto }

.seemore { width: 100% }

.seemore a {
    margin: 20px auto;
    display: block;
    width: auto
}

.seemore a button { min-width: 50% }

footer {
    background: #e5e5e5;
    padding: 10px;
    text-align: center;
}

footer h6 { margin: 0; padding: 0 }